h1 {
  padding-top: 10px;
  padding-bottom: 20px;
}
.container {
  border-radius: 10px;
}
.flip{
    display: inline-block;
}
.head{
    color: #047BD5;
}
.flipper{
    background-color: rgb(252, 252, 147);
}
.flipimage{
  display: inline-block;
  width: 80px;
  height: 80px;
  padding-bottom: 10px;
}
