.popimg{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup{
  width: 500px;
  height: 300px;
  background: #FCFFE7;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 25%;
  transform: translate(-50%, -50%)scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 8px 5px 5px rgba(25, 25, 25, 0.2);
  }
  .showpopup{
      visibility: visible;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);
      }
  .popup h2{
      font-size: 38px;
      font-weight: 500;
      margin: 30px 0 10px;
    }
    
    .popbtn{
      width: 100%;
      margin-top: 50px;
      padding: 10px 0;
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 8px 5px 5px rgba(25, 25, 25, 0.2);
    }  

    .h1pop{
      display: inline-block;
      padding-top: 40px;
      text-align: right;
  
}

    .url{
      margin-top: 50px;
      margin-bottom: 20px;
    }

    .price{
      margin-bottom: 20px;
    }
    h1{
      color: #0d0c0c;
    }

    h1 span {
      position: relative;
      top: 20px;
      font-size: 60px;
      text-shadow: 0 1px 0 #4974e1, 0 2px 0 #5abaf7, 0 3px 0 #81ace9, 0 4px 0 #5f98e9,
        0 5px 0 #4fb0f1, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
      animation: bounce 0.4s infinite alternate;
    }
    @keyframes bounce {
      100% {
        top: -20px;
        text-shadow: 0 1px 0 #aee0f0, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
          0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
          0 50px 25px rgba(0, 0, 0, 0.2);
      }
    }
    h1 span:nth-child(2) {
      animation-delay: 0.1s;
    }
    h1 span:nth-child(3) {
      animation-delay: 0.2s;
    }
    h1 span:nth-child(4) {
      animation-delay: 0.3s;
    }
    h1 span:nth-child(5) {
      animation-delay: 0.4s;
    }
    h1 span:nth-child(6) {
      animation-delay: 0.5s;
    }
    h1 span:nth-child(7) {
      animation-delay: 0.6s;
    }